body{
    margin:0 0;
    padding:0 0;
}
h1{
    font-size:40px;
    color:white;
    background-color: black;
    text-align:center;
    margin: 0 0 ;
    padding:10px 20px;
}
p{
    font-size: 20px;
    text-align: center;
}
